<app-sidebar></app-sidebar>
<div style="margin-left: 270px; padding: 20px; font-family: Arial, sans-serif; background-color: #F5EFFD;">

    <!-- Student Profile Section -->
     <h3 style="text-align: center;font-size: large;font-weight: bold;">STUDENT DETAILS</h3>
    <div style="display: flex; align-items: center; background: white; padding: 15px; border-radius: 10px; 
                box-shadow: 0 2px 5px rgba(0,0,0,0.1); margin-bottom: 20px;">
        <div>
            <h3 style="margin: 0; color: black;">{{student.firstName}} {{student.lastName}}</h3>
            <p style="margin: 5px 0 0; color: black;">
                Class: {{student.schoolClass}}<br>
                Stream:{{student.stream}}<br>
                Date of Birth: {{student.dateofbirth}}<br><br>
               <h3 style="font-weight: bold;">Address Details<br></h3>
               {{student.address.street}},{{student.address.city}},{{student.address.country}}<br>
               Postal Code: {{student.address.postalCode}} 
               </div>
               </div>

 
    
    

 
    

   
    <!-- Subjects List Table -->


</div>
