<div class="container mt-4">
  <div class="card shadow-lg">
    <div class="card-header bg-black text-white">
      <h2 class="mb-0">Subjects List</h2>
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Subject ID</th>
            <th>Subject Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subject of subjects; let i = index">
            <td>{{ subject.id }}</td>
            <td>{{ subject.subjectName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
